[Unit]
Description=Telegram UB AR Control
After=network.target

[Service]
# User=<user>
WorkingDirectory=/home/<user>/telegram-ubarc
Environment="PATH=/home/<user>/telegram-ubarc/venv/bin"
ExecStart=/home/<user>/telegram-ubarc/venv/bin/python /home/<user>/telegram-ubarc/main.py
Restart=always
RestartSec=5
# StandardOutput=append:/home/<user>/telegram-ubarc/output.log
# StandardError=append:/home/<user>/telegram-ubarc/err.log

[Install]
WantedBy=multi-user.target